/* font --> Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/*  */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* body styling */
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: 800;
}
#show-hide {
  visibility: hidden;
}
.container {
  text-align: center;
}
.message {
  font-size: 35px;
  position: relative;
  bottom: 50px;
}
@media (max-width: 331px) {
  .message {
    font-size: 30px;
  }
}
.game {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: 315px;
  height: 315px;
}
.boxes {
  border: 1.5px solid #fff;
  position: relative;
}

#box1,
#box4,
#box7 {
  border-left: none;
}
#box1,
#box2,
#box3 {
  border-top: none;
}
#box3,
#box6,
#box9 {
  border-right: none;
}
#box7,
#box8,
#box9 {
  border-bottom: none;
}
.cross-circle {
  z-index: 1;
  width: 75px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 50px;
}
/* media query for setting up the font-size a little bit  */
@media (max-width: 400px) {
  .score {
    font-size: 17px;
  }
}
/* media queries for small screens */
@media (max-width: 1000px) {
  .game {
    width: 300px;
    height: 300px;
  }
  .cross-circle {
    width: 70px;
  }
}
@media (max-width: 330px) {
  .container {
    width: 100vw;
  }
  .game,
  .score {
    margin: auto;
    width: 90%;
  }
  .cross-circle {
    width: 65px;
  }
}
@media (max-width: 271px) {
  .message {
    font-size: 25px;
  }
  .cross-circle {
    width: 58px;
  }
  .score {
    font-size: 15px;
  }
}
/* media queries for large screens */
@media (min-width: 1400px) {
  .game {
    width: 400px;
    height: 400px;
  }
  .cross-circle {
    width: 90px;
  }
  .message {
    font-size: 45px;
  }
  .score {
    font-size: 25px;
  }
}
